/*
 *	WebFont Package Licensed to Sibling Industries
 */

// Redaction Regular
@font-face
	font-family: 'Redaction'
	src	url('eot/Redaction-Regular.eot') // IE9 Compat Modes
	src	url('eot/Redaction-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			url('woff2/Redaction-Regular.woff2') format('woff2'), // Super Modern Browsers
			url('woff/Redaction-Regular.woff') format('woff') // Pretty Modern Browsers
	font-weight 400
	font-style normal
	font-display swap

// Redaction Italic
@font-face
	font-family: 'Redaction'
	src	url('eot/Redaction-Italic.eot') // IE9 Compat Modes
	src	url('eot/Redaction-Italic.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			url('woff2/Redaction-Italic.woff2') format('woff2'), // Super Modern Browsers
			url('woff/Redaction-Italic.woff') format('woff') // Pretty Modern Browsers
	font-weight 400
	font-style italic
	font-display swap

// Redaction Bold
@font-face
	font-family: 'Redaction'
	src	url('eot/Redaction-Bold.eot') // IE9 Compat Modes
	src	url('eot/Redaction-Bold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			url('woff2/Redaction-Bold.woff2') format('woff2'), // Super Modern Browsers
			url('woff/Redaction-Bold.woff') format('woff') // Pretty Modern Browsers
	font-weight 700
	font-style normal
	font-display swap

// Redaction 10 Regular
@font-face
	font-family: 'Redaction 10'
	src	url('eot/Redaction10-Regular.eot') // IE9 Compat Modes
	src	url('eot/Redaction10-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			url('woff2/Redaction10-Regular.woff2') format('woff2'), // Super Modern Browsers
			url('woff/Redaction10-Regular.woff') format('woff') // Pretty Modern Browsers
	font-weight 400
	font-style normal
	font-display swap

// Redaction 10 Regular Italic
@font-face
	font-family: 'Redaction 10'
	src	url('eot/Redaction10-Italic.eot') // IE9 Compat Modes
	src	url('eot/Redaction10-Italic.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			url('woff2/Redaction10-Italic.woff2') format('woff2'), // Super Modern Browsers
			url('woff/Redaction10-Italic.woff') format('woff') // Pretty Modern Browsers
	font-weight 400
	font-style italic
	font-display swap

// Redaction 10 Bold
@font-face
	font-family: 'Redaction 10'
	src	url('eot/Redaction10-Bold.eot') // IE9 Compat Modes
	src	url('eot/Redaction10-Bold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			url('woff2/Redaction10-Bold.woff2') format('woff2'), // Super Modern Browsers
			url('woff/Redaction10-Bold.woff') format('woff') // Pretty Modern Browsers
	font-weight 700
	font-style normal
	font-display swap

// Redaction 100 Regular
@font-face
	font-family: 'Redaction 100'
	src	url('eot/Redaction100-Regular.eot') // IE9 Compat Modes
	src	url('eot/Redaction100-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			url('woff2/Redaction100-Regular.woff2') format('woff2'), // Super Modern Browsers
			url('woff/Redaction100-Regular.woff') format('woff') // Pretty Modern Browsers
	font-weight 400
	font-style normal
	font-display swap

// Redaction 100 Regular Italic
@font-face
	font-family: 'Redaction 100'
	src	url('eot/Redaction100-Italic.eot') // IE9 Compat Modes
	src	url('eot/Redaction100-Italic.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			url('woff2/Redaction100-Italic.woff2') format('woff2'), // Super Modern Browsers
			url('woff/Redaction100-Italic.woff') format('woff') // Pretty Modern Browsers
	font-weight 400
	font-style italic
	font-display swap

// Redaction 100 Bold
@font-face
	font-family: 'Redaction 100'
	src	url('eot/Redaction100-Bold.eot') // IE9 Compat Modes
	src	url('eot/Redaction100-Bold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			url('woff2/Redaction100-Bold.woff2') format('woff2'), // Super Modern Browsers
			url('woff/Redaction100-Bold.woff') format('woff') // Pretty Modern Browsers
	font-weight 700
	font-style normal
	font-display swap

// Redaction 20 Regular
@font-face
	font-family: 'Redaction 20'
	src	url('eot/Redaction20-Regular.eot') // IE9 Compat Modes
	src	url('eot/Redaction20-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			url('woff2/Redaction20-Regular.woff2') format('woff2'), // Super Modern Browsers
			url('woff/Redaction20-Regular.woff') format('woff') // Pretty Modern Browsers
	font-weight 400
	font-style normal
	font-display swap

// Redaction 20 Regular Italic
@font-face
	font-family: 'Redaction 20'
	src	url('eot/Redaction20-Italic.eot') // IE9 Compat Modes
	src	url('eot/Redaction20-Italic.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			url('woff2/Redaction20-Italic.woff2') format('woff2'), // Super Modern Browsers
			url('woff/Redaction20-Italic.woff') format('woff') // Pretty Modern Browsers
	font-weight 400
	font-style italic
	font-display swap

// Redaction 20 Bold
@font-face
	font-family: 'Redaction 20'
	src	url('eot/Redaction20-Bold.eot') // IE9 Compat Modes
	src	url('eot/Redaction20-Bold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			url('woff2/Redaction20-Bold.woff2') format('woff2'), // Super Modern Browsers
			url('woff/Redaction20-Bold.woff') format('woff') // Pretty Modern Browsers
	font-weight 700
	font-style normal
	font-display swap

// Redaction 35 Regular
@font-face
	font-family: 'Redaction 35'
	src	url('eot/Redaction35-Regular.eot') // IE9 Compat Modes
	src	url('eot/Redaction35-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			url('woff2/Redaction35-Regular.woff2') format('woff2'), // Super Modern Browsers
			url('woff/Redaction35-Regular.woff') format('woff') // Pretty Modern Browsers
	font-weight 400
	font-style normal
	font-display swap

// Redaction 35 Regular Italic
@font-face
	font-family: 'Redaction 35'
	src	url('eot/Redaction35-Italic.eot') // IE9 Compat Modes
	src	url('eot/Redaction35-Italic.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			url('woff2/Redaction35-Italic.woff2') format('woff2'), // Super Modern Browsers
			url('woff/Redaction35-Italic.woff') format('woff') // Pretty Modern Browsers
	font-weight 400
	font-style italic
	font-display swap

// Redaction 35 Bold
@font-face
	font-family: 'Redaction 35'
	src	url('eot/Redaction35-Bold.eot') // IE9 Compat Modes
	src	url('eot/Redaction35-Bold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			url('woff2/Redaction35-Bold.woff2') format('woff2'), // Super Modern Browsers
			url('woff/Redaction35-Bold.woff') format('woff') // Pretty Modern Browsers
	font-weight 700
	font-style normal
	font-display swap

// Redaction 50 Regular
@font-face
	font-family: 'Redaction 50'
	src	url('eot/Redaction50-Regular.eot') // IE9 Compat Modes
	src	url('eot/Redaction50-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			url('woff2/Redaction50-Regular.woff2') format('woff2'), // Super Modern Browsers
			url('woff/Redaction50-Regular.woff') format('woff') // Pretty Modern Browsers
	font-weight 400
	font-style normal
	font-display swap

// Redaction 50 Regular Italic
@font-face
	font-family: 'Redaction 50'
	src	url('eot/Redaction50-Italic.eot') // IE9 Compat Modes
	src	url('eot/Redaction50-Italic.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			url('woff2/Redaction50-Italic.woff2') format('woff2'), // Super Modern Browsers
			url('woff/Redaction50-Italic.woff') format('woff') // Pretty Modern Browsers
	font-weight 400
	font-style italic
	font-display swap

// Redaction 50 Bold
@font-face
	font-family: 'Redaction 50'
	src	url('eot/Redaction50-Bold.eot') // IE9 Compat Modes
	src	url('eot/Redaction50-Bold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
			url('woff2/Redaction50-Bold.woff2') format('woff2'), // Super Modern Browsers
			url('woff/Redaction50-Bold.woff') format('woff') // Pretty Modern Browsers
	font-weight 700
	font-style normal
	font-display swap

