@import url(fonts.css);

/* Global Styles */
:root {
    font-family: var(--mono-font);
    --mono-font: "Necto Mono", "Inconsolata", "Courier New", "Courier", monospace;
    --serif-font: "Redaction", "Reckless", "Times New Roman", "Times", serif;
    --sans-serif-font: "Suisse", "Helvetica", "Arial", sans-serif;
    font-size: calc(14px + 0.390625vw);
    line-height: 1;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: 1s all;
}

body,
html {
    padding: 0;
    margin: 0;
}

/* cursor declarations */
body {
    cursor: url("../img/cursor-2.png"), auto !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
}

a:hover,
input:hover {
    cursor: url("../img/cursor-1.png"), auto !important;
    text-decoration: line-through;
    transition-delay: 1s;
}

.brimming {
    display: flex;
    justify-content: space-between;
    height: 98vh;
    overflow: hidden;
    padding-top: 1rem;
    padding-right: 1rem;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.caption {
    font-family: "Redaction 35";
    font-style: italic;
    line-height: 6;
}

.title {
    line-height: 1;
    font-family: "Redaction 35";
    font-style: normal;
    font-size: calc(7em + 1vh);
    text-transform: uppercase;
    margin: 0;
    overflow: hidden;
}

/* title animation */
.title:hover {
    text-decoration: none;
    cursor: url("../img/cursor-1.png"), auto !important;
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {

    0%,
    20%,
    55%,
    75%,
    100% {
        -webkit-transform: translateY(4px);
    }

    40% {
        -webkit-transform: translateY(-45px);
    }

    60% {
        -webkit-transform: translateY(-35px);
    }
}

@keyframes bounce {

    0%,
    20%,
    55%,
    75%,
    100% {
        -webkit-transform: translateY(0);
    }

    10%,
    40% {
        -webkit-transform: translateY(-45px);
    }

    60% {
        -webkit-transform: translateY(-35px);
    }
}

.video-player {
    width: 100%;
    max-width: 400px;
    height: auto;
    z-index: 1;
    position: relative;
}

.video-player img {
    width: 100%;
    height: auto;
}

li {
    text-align: end;
    text-transform: uppercase;
    list-style: none;
    padding-top: .5rem;
}

/* image display */
.hide {
    opacity: 0;
    transition: ease-out all 200ms;
    z-index: -999;
}

.show {
    animation-name: box-fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    z-index: 999;
    text-align: center;
}

.show img {
    max-height: 85vh;
    padding-top: 4vh;
}

.show p {
    text-align: justify;
    max-width: 85%;
    margin-left: 7%;
    line-height: 4em;
    font-size: 1em;
}

li.item-link div {
    top: 0;
    left: 0;
    position: fixed;
    width: 75%;
    margin: calc(5em + 9vh);
    margin-top: 2em;
    background-color: rgba(0, 0, 0, 0.95);
    font-size: 1em;
    line-height: 2em;
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.95);
}

.item-link a {
    position: inherit;
    top: 4vh;
    right: 23vh;
    cursor: url("../img/cursor-1.png"), auto !important;
    z-index: 99;
}

/* toggling features */
/* audio button */
.toggling-features input {
    font-family: var(--mono-font);
    color: white;
    background-color: transparent;
    border: none;
    font-size: 1em;
    cursor: url("../img/cursor-1.png"), auto !important;
}

/* footer styling */

.footer {
    font-size: .75rem;
    text-transform: uppercase;
    text-align: end;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 1rem;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: line-through;
    transition-delay: 1s;
}

.footer a.backarrow:before {
    content: url("../img/arrow-left.svg");
    display: inline-block;
    width: 13px;
    margin-right: .5em;
}

.footer img:hover {
    transform: translateY(4px);
}

.footer img {
    padding-right: 1rem;
}

.novideotext {
    max-width: 400px;
}

.video-player.mobile {
    display: none;
}

/* mobile breakpoints */
@media screen and (max-width: 925px) {

    
   .video-player.mobile {

    display: none !important;
}
/* 
   .video-player.mobile {
    
        display: block !important;
    } */

    .item-link a.close-icon {
        top: 3vh;
        right: 3vh;
    }
}


@media screen and (max-width: 900px) {
    .brimming {
        display: block;
        overflow: visible;
    }

    .caption {
        text-align: justify;
    }

    .title {
        font-size: min(max(60px, calc(3.75rem + ((1vw - 3.75px) * 2.2857))), 72px);
    }

    .show-items {
        padding-top: 1em;
    }

    .footer {
        position: relative;
        right: 0;
        padding-right: 0;
    }

    li.item-link div {
        width: 100%;
        margin: 1em;
        height: 100vh;
        overflow-y: scroll;
    }

    .show img {
        width: calc(100% - 5vh);
        text-align: start;
        display: block;
    }

    .background-toggle {
        display: none;
    }
}